/*
 * =========================================================================
 * APIClud - AUI UI 框架 精简版
 * =========================================================================
 */
 /*初始化类*/
@charset "UTF-8";

@font-face{
    font-family: 'SOURCEHANSANSCN-REGULAR';
    src: url('/src/assets/fonts/SOURCEHANSANSCN-REGULAR.OTF'); 
    font-weight: normal; 
    font-style: normal; 
}

html{
	/* font-family: 'Microsoft JhengHei UI','Microsoft YaHei UI'; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'SOURCEHANSANSCN-REGULAR'
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
    width: 100%;
    
}
body {
	font-size: 13px;
	color: #0e0e0e;
    outline: 0;
    font-weight: 500;
}

input {-webkit-appearance:none; }
* {
	-webkit-box-sizing: border-box;
	      	box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}

p {
	font-size: 14px;
    color: #757575;
    font-weight: 500;
}
a {
	color: #0062cc;
	text-decoration: none;
	background-color: transparent;
}
textarea {
	overflow: hidden;
	resize: none;
}
button {
	overflow: visible;
}
button,select {
	text-transform: none;
}
button,input,select,textarea {
	font: inherit;
	color: inherit;
}
/*自动隐藏文字*/
.aui-ellipsis-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

 input-placeholder {
     font-size: 0.6rem;
}
::-webkit-input-placeholder {
     font-size: 0.6rem;
}

.aui-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/*内外边距类*/
.aui-padded-0 {
	padding: 0 !important;
}
.aui-padded-5 {
	padding: 0.25rem !important;
}
.aui-padded-10 {
	padding: 0.5rem !important;
}
.aui-padded-15 {
	padding: 0.75rem !important;
}
.aui-padded-t-0 {
	padding-top: 0 !important;
}
.aui-padded-t-5 {
	padding-top: 0.25rem !important;
}
.aui-padded-t-10 {
	padding-top: 0.5rem !important;
}
.aui-padded-t-15 {
	padding-top: 0.75rem !important;
}
.aui-padded-b-0 {
	padding-bottom: 0 !important;
}
.aui-padded-b-5 {
	padding-bottom: 0.25rem !important;
}
.aui-padded-b-10 {
	padding-bottom: 0.5rem !important;
}
.aui-padded-b-15 {
	padding-bottom: 0.75rem !important;
}
.aui-padded-l-0 {
	padding-left: 0 !important;
}
.aui-padded-l-5 {
	padding-left: 0.25rem !important;
}
.aui-padded-l-10 {
	padding-left: 0.5rem !important;
}
.aui-padded-l-15 {
	padding-left: 0.75rem !important;
}
.aui-padded-r-0 {
	padding-right: 0 !important;
}
.aui-padded-r-5 {
	padding-right: 0.25rem !important;
}
.aui-padded-r-10 {
	padding-right: 0.5rem !important;
}
.aui-padded-r-15 {
	padding-right: 0.75rem !important;
}
.aui-margin-0 {
	margin: 0 !important;
}
.aui-margin-5 {
	margin: 0.25rem !important;
}
.aui-margin-10 {
	margin: 0.5rem !important;
}
.aui-margin-15 {
	margin: 0.75rem !important;
}
.aui-margin-t-0 {
	margin-top: 0.25rem !important;
}
.aui-margin-t-5 {
	margin-top: 0 !important;
}
.aui-margin-t-10 {
	margin-top: 0.5rem !important;
}
.aui-margin-t-15 {
	margin-top: 0.75rem !important;
}
.aui-margin-b-0 {
	margin-bottom: 0 !important;
}
.aui-margin-b-5 {
	margin-bottom: 0.25rem !important;
}
.aui-margin-b-10 {
	margin-bottom: 0.5rem !important;
}
.aui-margin-b-15 {
	margin-bottom: 0.75rem !important;
}
.aui-margin-l-0 {
	margin-left: 0 !important;
}
.aui-margin-l-5 {
	margin-left: 0.25rem !important;
}
.aui-margin-l-10 {
	margin-left: 0.5rem !important;
}
.aui-margin-l-15 {
	margin-left: 0.75rem !important;
}
.aui-margin-r-0 {
	margin-right: 0 !important;
}
.aui-margin-r-5 {
	margin-right: 0.25rem !important;
}
.aui-margin-r-10 {
	margin-right: 0.5rem !important;
}
.aui-margin-r-15 {
	margin-right: 0.75rem !important;
}

/*清除浮动*/
.clear{
    zoom:1;
}
.clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.aui-clearfix {
	clear: both;
}
.aui-clearfix:before {
	display: table;
	content: " ";
}
.aui-clearfix:after {
	clear: both;
}


/*文字对齐*/
.aui-text-left {
	text-align: left !important;
}
.aui-text-center {
	text-align: center !important;
}
.aui-text-justify {
	text-align: justify !important;
}
.aui-text-right {
	text-align: right !important;
}
/*文字、背景颜色*/
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h1 {
	font-size: 1.2rem;
}
h2 {
	font-size: 1rem;
}
h3 {
	font-size: 0.8rem;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 14px;
	font-weight: normal;
	color: #757575;
}
h6 {
	font-size: 14px;
	font-weight: normal;
	color: #757575;
}
h1 small,h2 small,h3 small,h4 small {
	font-weight: normal;
	line-height: 1;
	color: #757575;
}
h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #757575;
}
h1 small,h2 small,h3 small {
	font-size: 65%;
}
h4 small,h5 small,h6 small {
	font-size: 75%;
}
img {
	max-width: 100%;
	display: block;
}
.aui-font-size-10 {
    font-size: 0.5rem !important;
}
.aui-font-size-12 {
	font-size: 12px !important;
}
.aui-font-size-14 {
	font-size: 14px !important;
}
.aui-font-size-16 {
	font-size: 16px !important;
}
.aui-font-size-18 {
	font-size: 18px !important;
}
.aui-font-size-20 {
	font-size: 20px !important;
}
.aui-text-transparent {
    color: transparent !important;
}

.aui-text-white {
	color: #ffffff !important;
}
.aui-white {
	background: #ffffff !important;
}


/*对齐,显示，隐藏等*/
.aui-pull-right {
	float: right !important;
}
.aui-pull-left {
	float: left !important;
}
.aui-hide {
	display: none !important;
}
.aui-show {
	display: block !important;
}
.aui-invisible {
	visibility: hidden;
}
.aui-inline {
	display: inline-block;
	vertical-align: top;
}

/*基本容器*/
.aui-content {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	word-break: break-all;
}
.aui-content-padded {
  	margin: 0.75rem;
  	position: relative;
  	word-break: break-all;
  	-webkit-overflow-scrolling: touch;
}
/*栅格类*/
.aui-row {
	overflow: hidden;
	margin: 0;
}
.aui-row-padded {
	margin-left: -0.125rem;
	margin-right: -0.125rem;
}
.aui-row-padded [class*=aui-col-xs-] {
	padding: 0.125rem;
}
.aui-col-xs-1,.aui-col-xs-2,.aui-col-xs-3,.aui-col-xs-4,.aui-col-xs-5,.aui-col-xs-6,.aui-col-xs-7,.aui-col-xs-8,.aui-col-xs-9,.aui-col-xs-10,.aui-col-xs-11,.aui-col-5 {
	position: relative;
	float: left;
}
.aui-col-xs-12 {
	width: 100%;
	position: relative;
}
.aui-col-xs-11 {
	width: 91.66666667%;
}
.aui-col-xs-10 {
	width: 83.33333333%;
}
.aui-col-xs-9 {
	width: 75%;
}
.aui-col-xs-8 {
	width: 66.66666667%;
}
.aui-col-xs-7 {
	width: 58.33333333%;
}
.aui-col-xs-6 {
	width: 50%;
}
.aui-col-xs-5 {
	width: 41.66666667%;
}
.aui-col-xs-4 {
	width: 33.33333333%;
}
.aui-col-xs-3 {
	width: 25%;
}
.aui-col-xs-2 {
	width: 16.66666667%;
}
.aui-col-xs-1 {
	width: 8.33333333%;
}
.aui-col-5 {
	width: 20%;
}


/*
*表单类\输入框\radio\checkbox
**/
.aui-input,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
textarea {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: normal;
    color: #424242;
    font-size: 0.8rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
            user-select: text;
    -webkit-appearance: none;
            appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.aui-scroll-y {
	position: relative;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar{
	width:0px;
}





/*单选、多选、开关*/
.aui-radio,
.aui-checkbox {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
            user-select: none;
    -webkit-transition: background-color ease 0.1s;
            transition: background-color ease 0.1s;
}
.aui-checkbox {
    border-radius: 0.1rem;
}
.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
    background-color: #03a9f4;
    border: solid 1px #03a9f4;
    text-align: center;
    background-clip: padding-box;
}
.aui-radio:checked:before,
.aui-radio.aui-checked:before,
.aui-checkbox:checked:before,
.aui-checkbox.aui-checked:before,
.aui-radio:checked:after,
.aui-radio.aui-checked:after,
.aui-checkbox:checked:after,
.aui-checkbox.aui-checked:after {
    content: '';
    width: 0.4rem;
    height: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.2rem;
    margin-top: -0.2rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.aui-radio:disabled,
.aui-radio.aui-disabled,
.aui-checkbox:disabled,
.aui-checkbox.aui-disabled {
    background-color: #dddddd;
    border: solid 1px #dddddd;
}
.aui-radio:disabled:before,
.aui-radio.aui-disabled:before,
.aui-radio:disabled:after,
.aui-radio.aui-disabled:after,
.aui-checkbox:disabled:before,
.aui-checkbox.aui-disabled:before,
.aui-checkbox:disabled:after,
.aui-checkbox.aui-disabled:after {
    content: '';
    width: 0.5rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.aui-switch {
    width: 2.3rem;
    height: 1.2rem;
    position: relative;
    vertical-align: top;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    border-radius: 0.6rem;
    background-clip: content-box;
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    -webkit-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.aui-switch:before {
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.6rem;
    background-color: #fff;
    content: '';
    -webkit-transition: left 0.2s;
            transition: left 0.2s;
}
.aui-switch:checked {
    border-color: #03a9f4;
    background-color: #03a9f4;
}
.aui-switch:checked:before {
    left: 1.1rem;
}

[class*=bor-] {
    position: relative;
	display: block;
}
/*自定义*/
.bor-t::after{
           position: absolute; 
            content: ''; 
           z-index: 2;
            width: 100%; 
            left: 0; 
            top: 0; 
            height: 1px; 
            background-color: #ccc; 
           -webkit-transform: scale(1,0.5); 
            transform: scale(1,0.5);  
       
        
    }
.bor-b::after{
           position: absolute; 
            content: ''; 
           z-index: 2;
            width: 100%; 
            right: 0px;; 
            bottom: 0; 
            height: 1px; 
            background-color: #ccc; 
            -webkit-transform: scale(1,0.5); 
            transform: scale(1,0.5); 
    
    }
.bor-l::after{
           position: absolute; 
            content: ''; 
           z-index: 2;
            height: 100%; 
            left: 0; 
            bottom: 0; 
            width: 1px; 
            background-color: #ccc; 
            -webkit-transform: scale(0.5,1); 
            transform: scale(0.5,1); 
         
    }

.bor-r::after{
           position: absolute; 
            content: ''; 
           z-index: 2;
            height: 100%; 
            right: 0; 
            bottom: 0; 
            width: 1px; 
            background-color: #ccc; 
            -webkit-transform: scale(0.5,1); 
            transform: scale(0.5,1); 
            
    }
    /*
     loading 
     
      <div class="" id="loading">
        <p class="typing_loader"></p>
    </div>
     */
    
#loading{
    width: 100%;
   padding: 30px 0;
    text-align: center;
}
#loading p{
    font-size: 0.6rem;
}
.typing_loader{
width: 6px;
height: 6px;
border-radius: 50%;
-webkit-animation: typing 1s linear infinite alternate;
-moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate; 
margin: 0 auto; /* Not necessary- its only for layouting*/  
position: relative;
left: -12px;
}

@-webkit-keyframes typing{
0%{
/* (158, 158, 158,1) */
background-color: rgba(158, 158, 158,1);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
25%{ 
background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
75%{ background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,1);
}
}

@-moz-keyframes typing{
0%{
/* (158, 158, 158,1) */
background-color: rgba(158, 158, 158,1);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
25%{ 
background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
75%{ background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,1);
}
}

@keyframes typing{
0%{
/* (158, 158, 158,1) */
background-color: rgba(158, 158, 158,1);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
25%{ 
background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,2), 
            24px 0px 0px 0px rgba(158,158,158,0.2);
}
75%{ background-color: rgba(158,158,158, 0.4);
box-shadow: 12px 0px 0px 0px rgba(158,158,158,0.2), 
            24px 0px 0px 0px rgba(158,158,158,1);
}
}
